@page
@model ConversionPath.Pages.ExchangeRates.ListOfExchangeRatesModel
@{
    @foreach(var item in Model.Rates)
    {
        <p>@item.SourceDestinationString - <strong>@item.Rate</strong></p>
        <br/>
    }
}
